body {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}

aside {
    display: inline-block;
    position: fixed;
    width: 10%;
    height: 100vh;
    background-color: rgb(33, 33, 34);
    flex-wrap:  nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main {
    display: inline-block;
    width: 80%;
    height: 90vh;
    margin-left: 10%;
}
 
#ad {
    right: 0;
}
.primary-section, .secondary-section {
    display: flex;
    height: 45vh;
    margin: 30px;
}
.large {
    height: 100%;
    width: 50%;
    background-color: rgb(13, 33, 34);
}
.medium {
    height: 40vh;
    width: 33.33333%;
    background-color: rgb(13, 33, 34);
}
.small {
    height: 40%;
    width: 40%;
    background-color: rgb(56, 56, 56);
}
.grid-flex {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(116, 116, 116);
}
.column-flex {
    display: flex;
    flex-direction: column;
}
.col-box {
    height: 100%;
}
.col-box:nth-of-type(1) {
    background: gray;
}
.col-box:nth-of-type(2) {
    background: lightgrey
}
.col-box:nth-of-type(3) {
    background: darkgray
}

@media only screen and (max-width:768px) {
    #burger-menu {
        display: inline-block;
    }
body {
    background-color: black;
}
    aside {
        display: none;
    }
    .primary-section, .secondary-section {
        flex-wrap: wrap;
        height: 90vh;
        padding: 0;
    }
    .large {
        width: 100%;
        height: 50%;
    }
    .medium {
        width: 50%;
        height: 50%;
    }
    .secondary-section > article:last-of-type {
        width: 100%;
        background-color: #101618;
    }
}
@media only screen and (max-width:500px) {
    main {
        margin: 0;
        width: 100%;
    }
    .medium {
        width: 100%;
        height: 50%;
    }
}